/* Global */
@font-face {
	font-family: Norpeth;
	src: url(norpeth.otf);
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}





/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#9FB1BC;
	z-index:100;
}
#logo {
	text-align: center;
	margin: 10px 0;
	width: 20%;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #e2c044;
}

.navigation .active{
	cursor:pointer;
	color: #a9d3d0;
	font-weight:bold;
}




/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}



/* Slide 1 */ 

#slide1{
	background-color:#9FB1BC;
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 300;
	font-family: Norpeth;
}
#slide1 h2 {
	font-size: 1.5em;
	color: #2e5266;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 200;
	font-family: Norpeth;
}

#slide1 p {
	color: #FFFFFF;
	font-family: Norpeth;
}




/* Slide 2 */ 

#slide2{
	background-image:url('../images/citydrawing.png');
	background-size: 1050px;
	width: 100%;
	background-color:#FFFFFF;
	color:#ffffff;
	left: 5%;
	/*top: 5%;*/
	height: 70%;
	padding: 10%;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#2e5266;
	font-weight: 500;
	font-family: Norpeth;
/*	margin-top: -10px;*/
}
#slide2 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 3 */ 

#slide3{
	background-color:#2e5266;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 500;
	font-family: Norpeth;
}
#slide3 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
	font-family: Norpeth;
}

#slide3 p {
	color: #FFFFFF;
	font-family: Norpeth;
}


#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}

/*.citycontent {
	margin-top: 20px;
}*/

.citycontent img {
	width: 30%;
	height: auto;
	left: 40px;
	padding: 20px;
}

.citycontent h2 {
	font-family: Norpeth;
	margin: 0,20,20,0;
	font-weight: 300;
	font-size: 1.5em;
	padding: 20px;
}

.splitright {
	float: right;
	width: 40%;
	/*background-color: #D3d0CB;*/
	padding:  50px;
	margin-top: 10%;
	border-style: solid;
}

.splitright p {
	color: #383838;
}



/* Slide 4 */

#slide4{
	background-image:url('../images/lastback.png');
	background-color:#8a8683;
	color:#ffffff;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 400;
	font-family: Norpeth;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
	font-family: Norpeth;
}

#slide4 img {
	width: 40%;
	height: auto;
	
}

.splitright1 {
	float: right;
	width: 40%;
	/*background-color: #D3d0CB;*/
	padding:  50px;
	margin-top: 10%;
	background-color: #C8C8C8;
}

#credits {
	background-color: #9FB1BC;
	width: 100%;

	/*height: 50%;*/
}

#credits h1 {
	padding: 40px;
}

#credits p {
	position: left;
	padding: 20px;
}


/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 90%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
	width: 20%;
	height: auto;
}

#decorative img {
	width: 20%;
}

#content {
	margin-top: 20px;
	text-align:center;
	width:90%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




